Question:
Create a Jupyter notebook called Top10.ipynb, analyze what the top 10 causes of calls to 311 are in your chosen ZIP code, and calculate how many total incidents of each of these 10 types there have been in the year 2020. 

Your answer should be a pandas.Series which you must call top10 (as a Python variable), which should be in descending order by number of incidents, and which contains as its labels the incident type (a string) and as associated values the total number of incidents of this type in 2020.

In [1]:
import pandas as pd
df = pd.read_csv("311_Service_Requests_2020.csv")
df.head(10)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (20,31,32) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,45285347,01/01/2020 12:00:00 AM,01/10/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11229.0,3442 NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.600129,-73.941843,"(40.6001292057807, -73.94184291675883)"
1,45285651,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,10458.0,2701 DECATUR AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.864866,-73.888783,"(40.86486556770799, -73.88878325729915)"
2,45285821,01/01/2020 12:00:00 AM,01/02/2020 09:50:09 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Other (Explain Below),11203.0,5707 CHURCH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652536,-73.923540,"(40.65253575905768, -73.92353994017134)"
3,45287907,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,11214.0,1602 SHORE PARKWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.595653,-74.000173,"(40.59565343138651, -74.00017283917487)"
4,45288240,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,11385.0,1717 CORNELIA STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.700366,-73.905438,"(40.700366489799876, -73.90543829006366)"
5,45288728,01/01/2020 12:00:00 AM,01/02/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,11225.0,985 NOSTRAND AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.664422,-73.950982,"(40.66442190467239, -73.95098201556382)"
6,45289555,01/01/2020 12:00:00 AM,01/02/2020 09:39:33 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,11421.0,92-20 JAMAICA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.693348,-73.852987,"(40.69334796062744, -73.85298676420625)"
7,45288120,01/01/2020 12:00:00 AM,01/02/2020 09:51:29 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Restaurant/Bar/Deli/Bakery,10455.0,748 EAST 149 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812996,-73.907973,"(40.81299645614164, -73.90797324533352)"
8,45289558,01/01/2020 12:00:00 AM,01/15/2020 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,3 or More,Other (Explain Below),11215.0,625 UNION STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.677963,-73.984436,"(40.677963041857886, -73.98443609121443)"
9,45282225,01/01/2020 12:01:12 AM,01/01/2020 03:07:10 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11210.0,511 EAST 28 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.637989,-73.950108,"(40.63798926915675, -73.95010786310772)"

Now, we want to sort the table by zip code for 2020 which was selected, 10025 and sort by causes starting with the top causes and moving down. Here we check that date is 2020 and copt the required columns to a new dataframe

In [7]:
df['year'] = df['Created Date'].str[6:10]
df[df['year']!='2020']
print('The dataframe does not contain any dates beyond 2020. The shortened table with relevant columns is shown below:')
df1 = df[['Complaint Type', 'Incident Zip']].copy()
df1.head(10)

The dataframe does not contain any dates beyond 2020. The shortened table with relevant columns is shown below:

     Complaint Type  Incident Zip
0    Food Poisoning       11229.0
1    Food Poisoning       10458.0
2    Food Poisoning       11203.0
3    Food Poisoning       11214.0
4    Food Poisoning       11385.0
5    Food Poisoning       11225.0
6    Food Poisoning       11421.0
7    Food Poisoning       10455.0
8    Food Poisoning       11215.0
9  Blocked Driveway       11210.0

We want to take the above smaller dataframe, and create a dataframe with only 10025.0 as the incident zip and with years as 2020.

In [9]:
df2 = df1[df1.values == 10025.0]
df2

                     Complaint Type  Incident Zip
11              Noise - Residential       10025.0
141             Noise - Residential       10025.0
463             Noise - Residential       10025.0
979      For Hire Vehicle Complaint       10025.0
1166                 HEAT/HOT WATER       10025.0
...                             ...           ...
2586233              HEAT/HOT WATER       10025.0
2586442         Noise - Residential       10025.0
2586758                      Rodent       10025.0
2586833         Noise - Residential       10025.0
2586908         Noise - Residential       10025.0

[20978 rows x 2 columns]

Now, we want to take the complaints that are prevalent. We also want to group the complaints together right after. We also group them and create a series for the number of complaints of that type.

In [10]:
df3 = df2[['Complaint Type']]
df4 = df3.groupby(['Complaint Type']).size()

We sort the series in descending order and assign the first 10 most complaints to a different variable

In [11]:
series = df4.sort_values(ascending = False)
top10 = series.head(10)
top10

Complaint Type
Noise - Residential            2952
Noise - Street/Sidewalk        2128
HEAT/HOT WATER                 1885
Noise                          1131
Illegal Parking                 792
Noise - Vehicle                 787
Non-Emergency Police Matter     773
Rodent                          691
Illegal Fireworks               672
UNSANITARY CONDITION            565
dtype: int64